<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>294059748530-lf5snqh2051h9ugj01opmcsst1kk6eev.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.294059748530-lf5snqh2051h9ugj01opmcsst1kk6eev</string>
	<key>API_KEY</key>
	<string>AIzaSyArUlnDLiSYemnw0Z90XVzihX_aBh-Ea-o</string>
	<key>GCM_SENDER_ID</key>
	<string>294059748530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hemi</string>
	<key>PROJECT_ID</key>
	<string>hemi-b6b82</string>
	<key>STORAGE_BUCKET</key>
	<string>hemi-b6b82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:294059748530:ios:3ee9e6de8501cf5916adab</string>
</dict>
</plist>